.main-navigation,
.hero-deck,
.deck,
.search-box {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.search-box .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.hero-deck .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
