root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.css]
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

[{package.json,.travis.yml,appveyor.yml}]
indent_style = space
indent_size = 2
