coverage
node_modules
test/fixture/bower_components/bootstrap/dist/css/*
test/fixtures/styles/main.08e83c51.css
test/fixture/test-*
test/fixture/tmp-*
test/fixtures/styles/bootstrap.55598cc1.css
test/fixtures/styles/bootstrap.cce7f1a3.css
